<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Créer par la CPAM de la Haute-Garonne
    </div>
    <strong>L'administation de <a href="{{ path('home_connexion_controller') }}">MémoPCA</a>.</strong> Tout droits réservés.
</footer>