{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}

  {% block stylesheets %}
<style>

body{
    background-color: #faf8f7;
}



h1, h3{
    color: #f00d59 !important;
    font-family: 'Nunito', sans-serif; 
}

h4{
    color: #78072c;
}

h2, h5{
    color: #63929c ;
    }
    
label{
    color: #63929c;
    font-weight: bold;
} 

</style>

{% endblock %}
{% block body %}
<section class="container py-5">
<h1 class="text-center mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>

<p class="text-center fst-italic">Veuillez entrer <u>votre nouveau mot de passe</u> ci-dessous.</p>
<div class="w-50 mx-auto ">

        {% for level, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ level }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

<form method="post">
    <div class="mb-3 ">
    <div class="row align-items-center">
        <div class="col-auto">
            <label  class="form-label">Mot de passe</label>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">Doit contenir entre 6-20 caractères.</span>
        </div>
    </div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe">
        </div>
        <div class="mb-3 ">
            <label for="confirmPassword" class="col-form-label">Confirmez votre mot de passe</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmez votre mot de passe">
        </div>

            <input type="hidden" name="token" value="{{ token }}">

    <div class="text-center">
        <button class="btn btn-lg btn-outline-secondary mt-3" type="submit" id="valider">
            Valider le mot de passe
        </button> 
    </div> 
</form>

</div>
</section>
{% endblock %}
