{% extends 'base.html.twig' %}

{% block title %}Mémo{% endblock %}

{% block body %}
<style>

        h1, h3{
            color: #f00d59 !important;
            font-family: 'Nunito', sans-serif; 
        }
        h4{
            color: #78072c;
        }

        h2, h5{
            color: #63929c ;
        }

        label{
            color: #63929c;
            font-weight: bold;
        } 

        #Informed1, #Informed2{
            display: none;
        }

</style>

<section class="container d-flex justify-content-center pt-3">
<div class="w-100 ">
    {# Div message flash #}
        <div class="text-center">
            {% for level, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ level }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    <h1 class="text-center mt-5 mb-5">Création du Mémo individuelle de </h1>

    <form name="form" method="POST">

        {# Start Row #}
        <div class="row">
        <div class="form-group">

        </div>
            <div class="form-group mb-3">
                    <label class="col-12 text-center text-uppercase mb-2" for="NumbersInformed"> Par combien de personnes doit être contacté notre utilsateur en cas d'alerte : </label>
            <div class="text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInformed" id="NumbersInformed0" value="0" onclick="Affiche()" checked>
                        <p class="form-check-label" for="informed0">0</p>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInformed" id="NumbersInformed1" value="1" onclick="Affiche()">
                        <p class="form-check-label " for="informed1">1</p>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInformed" id="NumbersInformed2" value="2" onclick="Affiche()">
                        <p class="form-check-label " for="informed2">2</p>
                    </div>
            </div>
            </div>
        {# End Row #}
            <div class="row">
            <div id="Informed1" class="form-group col-6 mb-5">
                <label for="" class="text-uppercase">Contact 1: </label>
                <select class="form-select form-select mb-4" name="" id="" aria-label=".form-select" required>
                    <option value="0" selected >Qui prévient notre utilsateur :</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                </select>
            </div>

            <div id="Informed2" class="form-group col-6">
                <label for="" class="text-uppercase">Contact 2: </label>
                <select class="form-select form-select mb-4" name="" id="" aria-label=".form-select" required>
                    <option value="0" selected >Qui prévient notre utilsateur :</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                </select>
                </div>
            </div>

        {# Start Row #}
        <div class="row">
        <div class="form-group">

        </div>
            <div class="form-group mb-2">
                    <label class="col-12 text-center text-uppercase mb-2" for="NumbersInform"> Combien de personnes notre utilsateur va prévenir en cas d'alerte : </label>
            <div class="text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInform" id="NumbersInform0" value="0" onclick="Affiche()" checked>
                        <p class="form-check-label" for="inform0">0</p>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInform" id="NumbersInform1"  value="1" onclick="Affiche()">
                        <p class="form-check-label " for="inform1">1</p>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumbersInform" id="NumbersInform2" value="2" onclick="Affiche()">
                        <p class="form-check-label " for="inform2">2</p>
                    </div>
            </div>
            </div>
        {# End Row #}
        <div class="row">
            <div id="Inform1" class="form-group col-6">
                <label for="" class="text-uppercase">Contact 1: </label>
                <select class="form-select form-select mb-4" name="" id="" aria-label=".form-select" required>
                    <option value="0" selected >Qui notre utilsateur doit prévenir :</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                </select>
            </div>

            <div id="Inform2" class="form-group col-6">
                <label for="" class="text-uppercase">Contact 2: </label>
                <select class="form-select form-select mb-4" name="" id="" aria-label=".form-select" required>
                    <option value="0" selected >Qui notre utilsateur doit prévenir :</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                </select>
                </div>
        </div>
    </form>
</div>
</section>


{% endblock %}

{% block javascripts %}
    <script language="javascript">

    window.onload = Affiche() {

 

            if(document.getElementById("NumbersInformed1").checked == true)
            {    
            
                document.getElementById("Informed1").style.display.innerHTML = "block";
                document.getElementById("Informed2").style.display = "none";
            }

            if(document.getElementById("NumbersInformed2").checked == true)
            {   
                document.getElementById("Informed1").style.display = "block !important";  
                document.getElementById("Informed2").style.display = "block";
            }

            if(document.getElementById("NumbersInformed0").checked == true)   
            {
                document.getElementById("Informed1").style.display = "none";
                document.getElementById("Informed2").style.display = "none";
            }

    };
    

    </script>
{% endblock %}