{% block stylesheets %}

<style>

.navRole:hover{

    text-decoration: none;
    color: #0dcaf0 !important;

}


</style>

{% endblock %}


<nav class="mx-3 navbar navbar-expand-lg ">
        <div class="d-flex w-100 justify-content-center">

            <div class="list-group list-group-horizontal text-center">
                <a href="{{ path('list_directory_controller', {page: 'CPAM Haute-Garonne'}) }}" class="{{ role == 'CPAM Haute-Garonne' ? 'fw-bold border border-info' : '' }} bg-transparent navRole list-group-item px-4">CPAM Haute-Garonne</a>                      
            </div>
        </div>  

    </nav>
